
/* Your CSS Code here. */
#button-1 {
	display:grid;
}
#button-2 {
		display:grid;
}
#button-3 {
		display:grid;
}
#button-4 {
		display:grid;
}
#button-5 {
		display:grid;
}
#button-6 {
		display:grid;
}
#button-7 {
		display:grid;
}
#button-8 {
		display:grid;
}